#whatdoesitmean {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 80px 0 50px;
}

#whatdoesitmean .intro {
    margin: 20px auto 30px;
    max-width: 635px;
    padding: 0 20px;
}

#whatdoesitmean .fifty {
    text-align: center;
}
.fifty:nth-child(2n+1) {
    margin-right: -4px;
}
.fifty {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

#whatdoesitmean .fifty {
    text-align: center;
}

#whatdoesitmean .fifty .inner {
    padding: 30px 70px;
}

#whatdoesitmean .fifty .inner .icon {
    margin-bottom: 30px;
}

#sections .technologies {
    padding: 0 0 30px;
}
#sections .section {
    padding: 0 0 80px;
}
.technologies {
    background-image: -moz-linear-gradient(148deg, #00c3cf 0%, #1e84c5 100%);
    background-image: -webkit-linear-gradient(148deg, #00c3cf 0%, #1e84c5 100%);
    color: white;
}

#sections .h2 {
    margin: 0 0 25px;
    text-align: center;
}

.technologies .h2 {
    color: white;
    float: left;
    font-weight: 100;
    margin: 0 auto !important;
    max-width: 700px;
    padding: 70px 0 0;
}

.technologies .h4 {
    color: white;
    float: left;
    font-family: "Proxima Nova",sans-serif;
    margin: 20px auto;
    width: 100%;
    text-align: left;
}

.technologies li {
    display: inline-block;
    list-style: outside none none;
    padding: 20px 15px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.features .center {
    float: right;
    width: 65%;
}

.features .features-div {
    float: left;
    width: 30%;
}

.features .feature {
    width: 100%;
}
.usecase {
    padding: 0 50px 0 0;
    vertical-align: top;
    width: 30%;
}
.sidebyside {
    display: inline-block;
    vertical-align: top;
}

.feature .h4, .usecase .h4 {
    font-weight: 400;
}

#concepts .concept img {
    max-height: 80px;
    max-width: 80px;
}

#concepts .concept {
    width: 19.7%;
}

#concepts .concept p {
    max-width: 85%;
}

#architecture {
	padding: 80px 0 50px;
}

body#home #Corelatemoments {
    padding: 1px 0 60px;
}

.whitearrowdown a i, .whitearrowdown {
    color: white;
    font-size: 30px;
}

body#home .Corelatemoment .text {
    max-width: 650px;
}

body#home .Corelatemoment .container {
    width: -moz-max-content;
}

.trade-overview {
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 20px;
		text-align: center;
}

.trade-overview-head {
		margin: 15px 0;
}

body#home .Corelatemoment {
    padding: 125px 0 100px;
}

.usecases .usecase {
    border-bottom: 1px solid #ececec;
    display: inline-block;
    padding: 70px 0 50px;
    width: 100%;
}

.usecases .usecase:nth-child(5) {
    border-bottom: none;
}

.usecases .usecase .container {
    max-width: 911px;
}

.usecases .usecase img, .usecases .usecase .text {
    float: left;
}

.usecases .usecase img {
    margin-right: 80px;
}

.usecases .usecase .text {
    max-width: 550px;
}

.usecases .usecase img, .usecases .usecase .text {
    float: left;
}

.usecases .usecase:nth-child(2) img, .usecases .usecase:nth-child(4) img {
    float: right;
}

.usecases .usecase:first-child .text {
    max-width: 580px;
}

.usecases .usecase .h4 {
    font-size: 22px;
    font-weight: 500;
}

.usecases .usecase p {
    font-size: 18px;
}

.features-trade {
    background: url(../images/bg-4.jpg) no-repeat 0 -120px;
    background-size: cover;
}

#footer {
    padding: 0;
}

.bg-swirl {
    background-image: -moz-linear-gradient(148deg, #154d55 0%, #1b2441 100%);
		color: white;
}
